.Notes {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Notes-container {
    width: 100%;
    min-height: 100vh;
    max-width: 700px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 32px 32px;
}

.Notes-titleDesc {
    font-size: 16px;
    font-weight: 500;
    opacity: 0.5;
    align-self: flex-start;
}

.Notes-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 32px;
    width: 100%;
}

.Notes-headerLeft {
    flex: 1;
    margin-right: 32px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Notes-title {
    font-size: 28px;
    margin-top: 8px;
}

.Notes-headerCreator {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

/* 
Add back in if it's possible to get the image
.Notes-creatorPFP {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    margin-right: 8px;
} */

.Notes-createdBy {
    font-weight: 600;
    font-size: 16px;
}

.Notes-creatorName {
    font-weight: 400;
    font-size: 16px;
}

.Notes-spacer {
    flex: 1;
}

.Notes-videoLink {
    width: 150px;
    height: 32px;
    background: var(--main);
    flex: 0 0 auto;
    transition: all 0.3s;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    align-self: flex-end;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.Notes-videoLink:hover {
    background: var(--main-dark);
}

.Notes-videoLink2 {
    height: 32px;
    text-decoration: underline;
    color: var(--main-dark);
    font-weight: 700;
}

.Notes-textContainer {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Notes-bullet {
    margin-left: 24px;
    position: relative;
    margin-bottom: 8px;
}

.Notes-bullet::before {
    content: ' ';
    background: black;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    left: -16px;
    top: 6px;
    position: absolute;
}